[2021-01-15 14:17] rusefillc opened #9 "gap analysis between hellen72 and mazda speed miata"
looks like mazdaspeed miata uses 72 pin connector and we kind of forgot about it?

https://github.com/rusefi/rusefi/wiki/Mazdaspeed-Miata-2005

[2021-01-18 14:04] rusefillc opened #15 "On-board baro sensor"
JLCPBC has pressure sensor as extended part

https://jlcpcb.com/parts/componentSearch?searchTxt=LPS25HB

Hellen72 is definitely not water proof not air tight

[2021-04-24 15:27] rusefillc opened #20 "A lot of red LEDs in weird key position"
https://youtu.be/AQJ1a1bx6Ms

https://youtu.be/CqRugC8O5cs

Sept 25 rev C video https://youtu.be/7NdbVU0hFXI

[2021-04-27 20:53] rusefillc opened #10 "hellen72 document tach/alternator 5v as 12v"
![image](https://user-images.githubusercontent.com/48498823/116311301-1c24fe80-a779-11eb-9ef2-7455ab1fed1d.png)

[2021-05-06 17:07] abelom opened #17 "CrazyStriker is asking for USB-B option"
and it looks like he means horizontal USB-B where we have lifted mini USB

[2021-06-15 15:08] rusefillc opened #16 "Convert NB2 board to KiCAD"
We really need NB2 board to get consistent with everything else via KiCAD

[2021-06-16 14:50] rusefillc opened #1 "confirm that we have jumpers/vias for Lewis J"
https://github.com/andreika-git/hellen-one/issues/55

[2021-06-18 13:11] rusefillc opened #18 "144 mcu analysis"
would 144 be a drop-in replacement or would it change stm32 pinout?

[2021-06-27 17:32] BeerMoneyMotorsports opened #2 "injector and ign labels"
Currently the H72 board shows 8 injectors and 8 ign on the board silkscreen.  there is some concern that this could confuse end users as the board is designed for the 4 cylinder cars and not engine swaps.  The outputs will still be very useful for the future options but do not need to be labeled.

![image](https://user-images.githubusercontent.com/82395131/123553971-f487ed80-d74b-11eb-8c84-b107138

[2021-06-30 23:06] rusefillc opened #3 "nb2 document trigger hookup points"

[2021-07-08 16:34] rusefillc opened #4 "Looks like 72 rev D was ordered with LMV324IPWR"
https://github.com/andreika-git/hellen-one/issues/63

[2021-07-09 20:49] rusefillc opened #5 "Two rev D boards would not go into software DFU"
Two out of two rev D boards I have would not jump into SW DFU

HW DFU works fine (both power on with PROG and reset under PROG)
SW DFU just reboots the board into without not DFU mode - i.e. we loose USB connection, we change blue blinking frequency but we keep bilking blue

@BeerMoneyMotorsports has the other three rev D boards in the mail so he would confirm on his end
hopefully @BeerMoneyMotors

[2021-07-09 20:55] BeerMoneyMotorsports commented on #5
@rusefillc i have rev C to compare

[2021-07-10 05:16] rusefillc commented on #5
i run experimenters with https://github.com/rusefi/rusefi/releases/tag/2021.06.28_release

i think _once_ it has rebooted into DFU but only once.

so it seems sporadic? maybe some power supply drama?

[2021-07-10 05:23] andreika-git commented on #5
Can you please make a close-up photo of the STM32 soldered on the board? We need to compare the chip labels with rev.C

[2021-07-10 05:26] mck1117 commented on #5
I've just tried on a Rev A hellen 121 and it rebooted back to the firmware, not DFU

[2021-07-10 05:27] rusefillc commented on #5
@mck1117 welcome to the party!!! what about 121-vag-B?

@andreika-git any chance you can try Hellen-72 A or B you have?

[2021-07-10 05:29] rusefillc commented on #5
@andreika-git @mck1117

H72-C is F429IIT6
H72-D is F407IGT6

[2021-07-10 05:32] mck1117 commented on #5
I have just flashed `snapshot_20210628_214332_hellen121vag_rusefi` on an old Proteus 0.4 of August 2020 vintage, and "reset to DFU" button WORKED

[2021-07-10 05:35] rusefillc commented on #5
I wonder if there is a correlation or causation between exact CPU model and this issue

Which F4xx is Rev A hellen 121 vag?
Which F4xx is Rev B hellen 121 vag and how does it vote?
Which F4xx is old Proteus 0.4?

[2021-07-10 05:35] andreika-git commented on #5
SW DFU works on H72b

[2021-07-10 05:42] rusefillc commented on #5
So one would suspect 407 right?

I've just tested with a small old DISCOVERY 407 and SW DFU works just fine? so 100 pin 407 is happy and 176 407 is not?

[2021-07-10 05:46] rusefillc commented on #5
@mck1117 could this be about power supply? especially my sporadic one time good reboot

maybe I shall add AP2337 tomorrow?

[2021-07-10 05:50] andreika-git commented on #5
Also you can try with an external +12V power

[2021-07-10 05:55] rusefillc commented on #5
@andreika-git is in the lead - rev D enters SW DFU as long as powered by +12v

[2021-07-10 06:35] mck1117 commented on #5
It happens if connected to an actual USB host, but not if connected to USB power (usb power bank battery)

[2021-07-10 06:56] mck1117 commented on #5
I've just tested with 12v connected, and it DID NOT HELP

[2021-07-10 18:37] rusefillc commented on #5
I've added one AP2337 to MCU module that made zero difference

I am not 100% but it looks like PROG holding + RESET does NOT always get me DFU only MOST of the time?! Need to made a video

[2021-07-10 21:51] mck1117 commented on #5
I see the same thing, button is not 100% reliable either

[2021-07-11 02:38] rusefillc commented on #5
https://community.st.com/s/question/0D53W00000wyoGESAY/sporadic-reset-into-dfu-and-dfu-jump-any-links-between-power-and-dfu

[2021-07-11 05:21] rusefillc commented on #5
Matthew Kennedy  10:29 PM
I did some probing

The dfu software is running, then resetting after ~800us

Before the oscillator initializes

But it didn't even try the osc

![image](https://user-images.githubusercontent.com/48498823/125183642-487fe100-e1e6-11eb-964a-1ad8670c4791.png)

[2021-07-11 05:23] rusefillc commented on #5
https://github.com/rusefi/hellen121vag/issues/50 was done while investigating this issue

[2021-07-11 05:54] mck1117 commented on #5
Observation 1: powering from 12v (no USB connected), BOOT0 button is 100% reliable
Observation 2: powering from 5v USB power bank (no 12v, but also no data lines), BOOT0 button is 100% reliable.  Test performed with the same cable that is unreliable with laptop.
∴ the problem is not power, but is USB data lines.

[2021-07-11 06:28] mck1117 commented on #5
H72B is 100% reliable with F427IGT6

[2021-07-11 06:53] mck1117 commented on #5
Took the chip from the working H72B, put it on an H121B board.  Works perfectly.

[2021-07-11 07:16] mck1117 commented on #5
DFU ROM matches, except for the odd duck that's a very old ST F4 discovery board:

![image](https://user-images.githubusercontent.com/568254/125186098-377ea200-e1dd-11eb-802e-6023b06b05c1.png)

[2021-07-11 18:44] rusefillc commented on #5
I've shared the drama with @dron0gus

Dron says 407 has one VCAP while 42x have two VCAP or something? i like this line of inquiry

[2021-07-11 20:28] rusefillc opened #6 "Rev C board plugged into real vehicle with both 2002 and 2003 jumpers. How bad is it?"
I had board running/plugged into 2003 vehicle with both jumpers what's the level of potential damage if any?

[2021-07-11 20:33] andreika-git commented on #6
It's equal to 4S and 4T pins shorted. Needs investigation depending on vehicle type...

[2021-07-11 20:35] rusefillc commented on #6
original description updated with details on vehicle

[2021-07-11 20:56] rusefillc commented on #5
With VAG and NA6 reports this is now https://github.com/andreika-git/hellen-one/issues/79

[2021-07-11 21:07] rusefillc opened #7 "battery holder"
JLC is happy to solder battery holder

we shall have that battery holder on hellen72

[2021-07-13 18:21] rusefillc opened #8 "OK let's try making Hall happier one more time"
With Frankenso we have somehow settles on 5K - 5K is mention even in the engine sniffer image file name on https://rusefi.com/forum/viewtopic.php?p=20509#p20509

Do we want to revisit one more time in light of https://github.com/rusefi/rusefi/issues/2958 logic analyzer images?

[code]

@andreika-git what are current pull-ups? which PN can I try changing in your opinion?

[2021-07-14 06:17] andreika-git commented on #8
crank pull-up is 3.3k (R216)
cam pull-up is 4.7k

[2021-07-14 17:20] #5 closed

[2021-07-20 03:10] mck1117 commented on #9
IIRC there's a boost control solenoid somewhere in lieu of VVT.

[2021-07-27 17:06] BeerMoneyMotorsports opened #11 "Adding ETB Controller"
Reference below. Add ETB functionality and board connector for I/O.

https://github.com/rusefi/hellenNA6_issues/issues/14

[2021-08-02 18:44] BeerMoneyMotorsports commented on #11
add on etb driver and vertical board mounted connector. Connector requires 10a capacity.

[2021-08-10 17:14] BeerMoneyMotorsports opened #12 "EBC and Flex"
The H72d does not have a clear way to connect for Boost Control Solenoid or Flex input.  I need clear direction on where these should be connected on the **board** then i will handle the connection to the harness connector.

1- Boost Control out
2- Flex input

[2021-08-11 15:27] BeerMoneyMotorsports commented on #12
I think i can utilize pin 3c or 3d for boost control output.

![image](https://user-images.githubusercontent.com/82395131/129057167-2fdd2354-fddc-4580-b9ec-16f0355fa410.png)

@andreika-git for Flex, can i use pin 4aa for the downstream O2?  It uses the same STM pin as H64b flex input.

![image](https://user-images.githubusercontent.com/82395131/129057963-4c9db8a1-94fa-4acb-84a5-521983e5a74a.png)

[2021-09-22 13:18] BeerMoneyMotorsports opened #13 "H72d BOM shortage"
Parts shortages as of 9/22/2021.  Support for alternatives needed!  plz halp

1- MWSA0503-100MT
2- NLV32T-2R2J-PF
3- LMR14020SDDAR
4- AUIPS2041LTR
5- FC-12M32.768KHZ7PF20PPM
6- STM32F427IGT6(Andrey supplies)
7- TJA1021T/20/CM,118

[2021-09-22 13:24] rusefillc commented on #13
@BeerMoneyMotorsports please add hellen designators to make things more efficient

how is NB1 doing? hellen designators are usually same between boards

[2021-09-22 13:43] BeerMoneyMotorsports commented on #13
NB1

1- MWSA0503S-100MT
2- LBC3225T2R2MR
3-  LMR14030SDDAR
4- ZXMS6005
5- SC-20S,32.768kHz,20PPM, 7pF
6- NA
7- not on BOM

[2021-09-22 13:47] rusefillc commented on #13
@BeerMoneyMotorsports we order parts at JLCPCB so using JLCPCB part numbers is pretty nice.

it looks like we have a solution for 80% of the ticket, let's close this one and open a new one if we have any remaining issues?

[2021-09-22 14:14] rusefillc commented on #13
See https://github.com/andreika-git/hellen-one/issues/72

[2021-09-22 16:36] rusefillc opened #19 "94 pin connector - tracking stock, nothing else"
We can purchase the 94pos but things are a bit iffy

I have qty 6 I would love to sell to "anyone" fabricating a board with 94pos connector @BeerMoneyMotorsports wink wink

https://octopart.com/search?q=1123794&currency=USD&specs=0

It would have been amazing if we had a source of used as a backup now that I have my fancy ultrasonic bath. Problem is I am not aware of ANY ecu using this 94pos. http

[2021-10-18 23:26] mck1117 opened #14 "remove M9"
why do we have LIN/K-line at all?

It's extra hardware we don't use.  Adds cost.  Opportunities for BOM mistakes, as we've seen where somehow https://github.com/rusefi/hellen72/blob/master/boards/hellen72-d/board/hellen72-d-BOM.22september2021.csv contains a TJA10*5*1 in place of a TJA10*2*1.

[2021-10-26 22:35] BeerMoneyMotorsports opened #21 "NB2 Complete Update"
NB2 complete update to 94 pin connector, MSM support and 144 pin chip.

We should convert the nb2 board to be the same as NB1.  Same footprint and features.  Most of the below issues will be resolved with that change.

related issues.
https://github.com/rusefi/hellen-NB2-issues/issues/9
https://github.com/rusefi/hellen-NB2-issues/issues/15
https://github.com/rusefi/hellen-NB2-issues/issues/17
http

[2021-11-02 23:51] BeerMoneyMotorsports opened #22 "vvt target table"
we have an aggressive table and we need to set it more like other known good tables.

ours
![image](https://user-images.githubusercontent.com/82395131/139967056-0536985a-da6f-4deb-8d78-491636b87d46.png)

other known good
![image](https://user-images.githubusercontent.com/82395131/139967217-22920868-0b9c-412c-890f-03e853542965.png)

[2021-11-03 01:42] rusefillc commented on #22
@BeerMoneyMotorsports can you please post a rusEFI online tune URL since that's the only thing I can import into defaults directly?

[2021-11-03 02:43] BeerMoneyMotorsports commented on #22
![image](https://user-images.githubusercontent.com/82395131/140003240-e5cfc1af-3002-4bd5-8a52-4e0d4a08e3bc.png)

[2021-11-03 03:21] BeerMoneyMotorsports commented on #22
Closing.

[2021-11-03 03:21] #22 closed

[2021-11-03 03:23] #11 closed

[2021-11-10 01:22] rusefillc commented on #19
@BeerMoneyMotorsports

![image](https://user-images.githubusercontent.com/48498823/141032343-fc1b51cd-6bc2-449a-85f6-58734dd94002.png)

[2021-11-16 17:27] BeerMoneyMotorsports opened #23 "Pin Error While driving around TC4427 maybe alternator damage in USA"
https://rusefi.com/forum/viewtopic.php?f=19&t=2190

Related to https://github.com/rusefi/hellen-NB1-issues/issues/25

shipping Matthew Kennedy the failed board via usps for inspection.

[2021-11-20 03:47] BeerMoneyMotorsports commented on #23
![Uploading D5CA99E5-127B-4D83-965C-272CF82FEF98.jpeg…]()

[2021-11-25 01:57] rusefillc commented on #23
Some relevant notes on https://github.com/rusefi/rusefi/issues/3558
There is an opinion that we need https://github.com/andreika-git/hellen-one/issues/118

[2021-11-25 21:23] mck1117 commented on #23
I have the board in-hand now.

Notes:

- The STM32 gets hot when power is applied, but at least the core seems to still work, as TS connects and works (at least until it gets super hot and things stop working)
- Those pins that go to the TC4427 have 8-10 ohms to ground, and one of them has 2 ohms to the 3.3v rail, indicating catastrophic failures of the rail steering diodes (or possibly output tra

[2021-11-25 22:54] BeerMoneyMotorsports commented on #23
@mck1117 thank you.  Can you Write a ticket for us to add the resistor to future boards?  I need to order nb1 immediately. Is it too soon to make this call while you are still diagnosing everything?

Do we need to find a way to add this to current boards in customer hands?

[2021-11-25 22:56] mck1117 commented on #23
is this not that ticket? https://github.com/andreika-git/hellen-one/issues/118

[2021-11-25 22:56] mck1117 commented on #23
It will certainly not hurt.  Many proteus/mre/frankenso boards have been driving around with those resistors in place.

[2021-11-25 22:58] BeerMoneyMotorsports commented on #23
@mck1117 thankyou. Sorry I overlooked the ticket.

[2021-11-25 22:58] mck1117 commented on #23
Actually I take that back - Proteus/MRE have pulldown resistors on the input side, but no series resistor.  They do, however, have a resistor on the output, also absent from Hellen.

[2021-11-29 20:00] BeerMoneyMotorsports commented on #21
https://github.com/rusefi/hellen-NB1-issues/issues/25

[2021-12-03 17:46] BeerMoneyMotorsports commented on #23
Per @mck1117 reverse engineering OEM ecu.  He found a 1k resistor in series and a 100nf to gnd.  Picture below to show circuit.  This is being added to NB1 production.  NB2 is being tested with updated circuit.

![image](https://user-images.githubusercontent.com/82395131/144648122-5655269c-c44a-4105-9ee0-d51a3f76f307.png)

related ticket-  https://github.com/rusefi/hellen-NB1-issues/issues/25

[2021-12-03 17:48] BeerMoneyMotorsports commented on #23
Modified board to test.

@mck1117 or @andreika-git , i would need some help with how to torture testing NB2.

![nb2 alt mod](https://user-images.githubusercontent.com/82395131/144649010-33847ac8-a9ee-4fdd-a2a8-0f9c7d06c336.jpg)

[2021-12-03 21:37] BeerMoneyMotorsports opened #24 "Nb2 base tune update"
Placeholder

[2021-12-15 20:22] andreika-git opened #25 "94 pin connector - position on board"
We need to determine the exact position of the new 94 pin connector.
The old 72 pin connector was not centered:
![image](https://user-images.githubusercontent.com/15104768/146259316-3a195ac7-3614-4fa7-8f92-691c965666bd.png)
The new connector is obviously wider, and we need to know it's location to fit inside the case.

[2021-12-15 20:22] andreika-git commented on #25
@BeerMoneyMotorsports Can you please help?

[2021-12-15 22:31] BeerMoneyMotorsports commented on #25
We are using the exact same case as NB1 for this revision.  board footprint and connector positioning should match.  i can take precise measurements, however the nb1 perfectly fits the hole.

[2021-12-16 13:43] andreika-git commented on #25
The standard 64-pin connector is somewhat wider than the 94 pin connector:
![image](https://user-images.githubusercontent.com/15104768/146380363-476537d2-264b-4212-9291-7fb93544159a.png)
So if we use the original NB1 case for the 94pin connector, then it would have ~3mm gaps on both sides. Is it ok?

Also, the NB1 case has different mounting holes (those on the sides). Should we use the NB1-style

[2021-12-16 14:14] andreika-git opened #26 "94 pin connector - row pitch conflict (footprint vs 3d-model)"
We have two options for the 94 pin connector: 1473181-1 and 1123794-2.
According to the datasheet, both have the same row pitch as the 72 pin connector had:
![image](https://user-images.githubusercontent.com/15104768/146386370-e3c58dfe-768f-407b-9563-02700c79a9f2.png)
The problem is that the 3D models given by the manufacturer don't match the footprint because they have different row pitch (2.5 mm

[2021-12-16 14:16] BeerMoneyMotorsports commented on #25
Yes, that is correct on the connector size. My intention would be to have a thin printed piece to fill any excessive gaps. For the board, use NB1 footprint. My intention is to make it the same. This change will allow us to have 1 case for three different boards. Ill grab a pic today.

[2021-12-17 20:17] BeerMoneyMotorsports commented on #26
@rusefillc do you have a 96pin connector you can measure?  i have not purchased any yet.

[2021-12-18 03:18] rusefillc commented on #26
@BeerMoneyMotorsports @andreika-git I have a connector in my hands its 3.6mm+4.4mm

[2021-12-18 10:29] andreika-git opened #27 "NB2 rev.E schematics review"
Now we have a draft of the rev.E schematics.

How do we use an options connector (1A-1X, 22 pins)?
My proposal is to use it for:
- WBO: 6 pins
- ETB: 2 power pins and 8 analog pins (incl. +5VA and GNDA)
- An additional low-side output (boost?)
- An additional digital input (flex?)

![image](https://user-images.githubusercontent.com/15104768/146637837-5deff133-ca16-461e-aeb9-902e0efda35a.png)

Curr

[2021-12-18 13:38] rusefillc commented on #19
@BeerMoneyMotorsports friendly reminder that only 6 are for sale on the market and I have only 6, grand total of 12.

[2021-12-21 15:50] BeerMoneyMotorsports commented on #24
https://rusefi.com/online/view.php?msq=774

[2021-12-21 15:54] BeerMoneyMotorsports commented on #23
Board was tested for 250 miles then returned to the customer for further testing.  No failures during my testing which mainly consisted of lots of idling and driving.  This is with AC, lights, wipers, etc all running.

[2021-12-23 14:08] andreika-git commented on #27
@BeerMoneyMotorsports Can you please comment on the current situation? It seems that we won't make it till christmas?

[2021-12-23 15:29] BeerMoneyMotorsports commented on #19
I need to validate if this is available option or not.

![image](https://user-images.githubusercontent.com/82395131/147261059-e7b189e3-e12c-4a2d-9497-c6ded984a37b.png)

[2021-12-23 15:44] rusefillc commented on #19
125 pin honda K is available from China https://www.ebay.com/itm/334141525131

[2021-12-23 16:14] BeerMoneyMotorsports commented on #19
@rusefillc looks like it may be a touch too big for our application.  I wonder if we can reasonably cut down the K connector to be 94pin?

[2021-12-23 16:39] BeerMoneyMotorsports commented on #27
Here is what i would like to see in the options port.  All voltages need dedicated protection for user errors in wiring.

Id like to leave the OUT_ETB +- in the molex connector.

1- WBO H-
2- WBO H+(12v out)
3- WBO R Trim
4- WBO Ip
5- WBO Vs/Ip
6- WBO Vs
7- Ground
8- 5v
9- 5v
10- 12v
11- 12v
12- Boost Controller
13- Digital Input(Flex fuel)
14- Pressure Sensor
15- Temperature Sensor
16-  Ground
17

[2021-12-23 16:54] BeerMoneyMotorsports commented on #19
@rusefillc also, what resource in china for the honda K?

[2021-12-24 01:02] BeerMoneyMotorsports commented on #27
**for msm** 4R and 4N should be tied together.  rather than using VVT on 4R, we need to use the second IAT as the primary IAT which is on 4R.
![image](https://user-images.githubusercontent.com/82395131/147303440-b9190c80-c0e8-4dc5-a853-23338732c6b5.png)

[2021-12-24 01:03] BeerMoneyMotorsports commented on #27
the blue squares are 0R jumpers.

[2021-12-24 08:40] andreika-git commented on #27
Can you please edit your post and add "analog" or "digital" to all 5V and GND? They are different. (For ETB, we need 2 analog +5VA and two analog GNDA). Also we need at least one digital GND.

[2021-12-24 20:00] BeerMoneyMotorsports opened #28 "Convert to 122 pin header"
Lack of stock on 94 pin connector is forcing us to use the next size up, 122 pin connector.  It is a perfect fit for the camry case.

![image](https://user-images.githubusercontent.com/82395131/147370926-614da345-f307-4ed3-8213-337d5547be8c.png)

https://www.te.com/usa-en/product-8-5353015-1.html

[2021-12-24 20:03] andreika-git commented on #28
We need to know the exact position of the connector on board.

[2021-12-24 20:05] rusefillc commented on #28
nice find!

https://octopart.com/search?q=5353015&currency=USD&specs=0

![image](https://user-images.githubusercontent.com/48498823/147371030-fb881230-d397-4067-bfc0-8456dd1f1736.png)

[2021-12-24 20:15] BeerMoneyMotorsports commented on #28
Centered, connector in pic below is the same as 122 pin.

![image](https://user-images.githubusercontent.com/82395131/147371265-0ab3b3b0-c0af-42e7-8448-7a00e9e761ca.png)

[2021-12-25 09:07] andreika-git commented on #28
Can you please measure the distance between the outer mounting points?
![image](https://user-images.githubusercontent.com/15104768/147381706-80484002-1e93-4ee7-8dfc-e5d55683bd4f.png)

The is a misalignment between the official 3D model and the footprint (based on the datasheet):
![image](https://user-images.githubusercontent.com/15104768/147381754-4bb24d66-2d40-45ff-b0d3-ab811da80998.png)

[2021-12-26 23:30] BeerMoneyMotorsports commented on #28
@andreika-git i am measuring 111.1mm

[2022-01-05 17:36] andreika-git commented on #27
Schematics & pcb were updated and ready for review!
What did i forget? :)
[hellen72_NB2.pdf](https://github.com/rusefi/hellen-NB2-issues/files/7816712/hellen72_NB2.pdf)

[2022-01-07 20:53] BeerMoneyMotorsports commented on #26
closing as we have moved from 94-122 pin.

[2022-01-07 20:53] #26 closed

[2022-01-07 20:54] BeerMoneyMotorsports commented on #25
closing as we have moved from 94-122 pin.

[2022-01-07 20:54] #25 closed

[2022-01-07 20:56] BeerMoneyMotorsports commented on #19
closing as we have moved from 94-122 pin.

[2022-01-07 20:56] #19 closed

[2022-01-07 20:57] BeerMoneyMotorsports commented on #17
this is in Rev E update.

[2022-01-07 20:57] #17 closed

[2022-01-07 21:02] BeerMoneyMotorsports commented on #23
This board has 750 miles on it with zero problems.  Fix has been applied to rev nb2 rev E and then NB1 rev B.  Miata NA does not have alternator control circuit.  so 90-95 and 96/97 will have the 0.3 output module with protection but not a specific alternator control circuit.

[2022-01-07 21:03] BeerMoneyMotorsports commented on #9
https://docs.google.com/spreadsheets/d/1raHTEK5JAHUCpqOJ4ms5ALVBcwi8FxiH_gkN7S6F6c4/edit#gid=0

[2022-01-07 21:03] #9 closed

[2022-01-07 21:04] BeerMoneyMotorsports commented on #15
no stock and no code to support it.  closing

[2022-01-07 21:04] #15 closed

[2022-01-07 21:05] BeerMoneyMotorsports commented on #20
i tested on NB2, and two more NB1.  i cannot reproduce the reported issue.

[2022-01-07 21:09] BeerMoneyMotorsports commented on #10
do you have more details on this?  what revision?  Tach functionality is not an issue on NB2 rev D.

[2022-01-07 21:10] BeerMoneyMotorsports commented on #16
NB2 rev E is kicad now.  I am closing issue.

[2022-01-07 21:10] #16 closed

[2022-01-07 21:19] BeerMoneyMotorsports commented on #18
rev E utilizes 144pin MCU.  STM32f407zgt7

[2022-01-07 21:20] BeerMoneyMotorsports commented on #7
rev E has battery holder.

[2022-01-07 21:20] #7 closed

[2022-01-07 21:21] BeerMoneyMotorsports commented on #4
This was resolved with hand replacement of chip.  Problem was created by chip shortages and ordering error.

[2022-01-07 21:21] #4 closed

[2022-01-07 21:22] BeerMoneyMotorsports commented on #3
any update here?  any details?

[2022-01-07 21:23] BeerMoneyMotorsports commented on #1
Options port fixes issues with adding wiring to ecu.  pins can be moved to options connector as needed.

Where is Lewis J???

[2022-01-07 21:23] #1 closed

[2022-01-07 21:27] BeerMoneyMotorsports commented on #24
This tune is from an NB1 but the settings for cranking and idle are rather good.

https://rusefi.com/online/view.php?msq=804

[2022-01-07 21:43] BeerMoneyMotorsports commented on #6
both jumpers installed should not cause damage.  you should notice a lack of VVT control.

[2022-01-07 21:43] #6 closed

[2022-01-07 21:45] BeerMoneyMotorsports commented on #8
any update on this?  @andreika-git do you see this as actionable?  Do we need to make these changes on revE and other miata hellens?

[2022-01-07 21:49] rusefillc commented on #18
@BeerMoneyMotorsports that would require two different yaml files or some other software provisions. Board ID hardware could be helpful to facilitate options on software side

[2022-01-07 21:50] rusefillc commented on #10
Looks like no need for anything here

[2022-01-07 21:50] #10 closed

[2022-01-07 21:52] BeerMoneyMotorsports commented on #14
LIN is removed from rev E.

[2022-01-07 21:52] #14 closed

[2022-01-07 22:02] BeerMoneyMotorsports commented on #18
@rusefillc with such a drastic change, it may be good to just break the chain and create new yaml?  I will need your expertise to devise and good solution.

Currently, per my direction, the NB2 rev E is a copy of NB1 design with updated pinouts.  it seemed to be the simplest solution but I clearly did not take into account the difference in chips effect on firmware.

Can we make NB2 rev D an end o

[2022-01-07 22:52] rusefillc commented on #18
do we kill old NB2 binaries and not support old NB2 hardware?
do we kill old NB2 page?
do we somehow mix old and new help content on same wiki page?

I am totally fine adding new yaml file but that would be a lot of hard work here and there to make this mess less confusing

board-id stuff was never fabricated so far but I hope there are no down sides to having it on the boards https://github.com/a

[2022-01-07 23:22] BeerMoneyMotorsports opened #29 "TLS115D0EJXUMA1 for sensor 5v"
see https://github.com/andreika-git/hellen-one/issues/119

[2022-01-07 23:27] BeerMoneyMotorsports commented on #27
so far, almost everything looks ok.  I have some concerns for 4D that will require a jumper at minimum.  On MSM, it mentions a Wastegate Regulating Valve that i am unsure of.  Working now to identify it.

On the Options Port, it isnt fully populated yet.  Missing some key things like dedicated Temp and Pressure?

[2022-01-08 17:06] rusefillc commented on #3
this is about having content on the wiki elaborating if we have test points on cam/crank tracks. so, this is about a better option to just soldering test wires on the back of the board at the connector

[2022-01-11 19:54] BeerMoneyMotorsports commented on #27
MSM uses a factory boost control(wastegate regulating valve).  Pin 4d is the output so we need to have the boost control output T off to it with a jumper.  it will need to be removed for VVT.  We also need a jumper to disconnect the 12v on 4d when on an msm.

tie 5k to 4d.  both need jumpers to disconnect depending on application.

<img width="130" alt="image" src="https://user-images.githubuserco

[2022-01-11 19:58] BeerMoneyMotorsports commented on #27
Other than the above, completion of the Options port seems to be all that is left.

[2022-02-11 20:46] BeerMoneyMotorsports opened #30 "smd pad size increase"
Pad size for the smd buttons(boot and reset) should be increased.  Recently found a poor solder joint preventing the boot button from fuctioning.  the button almost overhangs the pad.

https://github.com/rusefi/hellen-NA8-96-issues/issues/10

[2022-02-28 16:59] BeerMoneyMotorsports commented on #27
@andreika-git

Pin **4X- IN MAF- in_map1** is not needed.  please remove the connection to pin 4x.  This will be used by the options port. This will not effect H72d and older as MAF is not used.

I do not have a specific plan for some of these connections but i saw that they were available and would rather have them connected to the options port rather than just a blank pad.  The rest of the optio

[2022-03-05 13:26] andreika-git commented on #27
Done! Can you please review the schematics and board files?
![image](https://user-images.githubusercontent.com/15104768/156884993-9d1fa3dc-32c6-48fa-be61-544ecf22d0c0.png)

[2022-03-05 22:05] BeerMoneyMotorsports opened #31 "r23 removal for alternator charging"
Please remove R23(1k) resistor.  replace with jumper or delete from pcb.  see issue https://github.com/rusefi/hellen-NB1-issues/issues/29

**modification already performed, for records only.**

[2022-03-05 22:05] #31 closed

[2022-03-05 22:09] BeerMoneyMotorsports commented on #27
it looks good.  i cannot see any issues.  I see you already modified r23, so awesome!  Is it time to finalize?

[2022-03-07 18:04] BeerMoneyMotorsports commented on #18
The decision was made to maintain 176 pin chip for NB2.  I have purchased 40 for my personal stock at JLCPCB.   Closing the issue.

[2022-03-07 18:04] #18 closed

[2022-03-07 18:05] BeerMoneyMotorsports commented on #21
We are maintaining 176 pin chip to avoid a firmware split for NB2.  I have stock at JLCPCB for production.

[2022-03-07 18:05] BeerMoneyMotorsports commented on #28
closing.  completed with REV E

[2022-03-07 18:05] #28 closed

[2022-03-07 18:07] #23 closed

[2022-03-07 18:08] BeerMoneyMotorsports commented on #29
implemented with REV E

[2022-03-07 18:08] #29 closed

[2022-03-07 18:09] BeerMoneyMotorsports commented on #8
closing due to no response and no functionality issues with NB2 rev D

[2022-03-07 18:09] #8 closed

[2022-03-07 19:49] BeerMoneyMotorsports opened #32 "3/7/22 rev E parts shortages"
List of parts shortages.  Please assist with potential alternatives.
     Designator-- Mfr Part-- JLC part-- detail
1- D1,2,10,11-- C2297-- 0805 Light Emitting Diodes (LED) ROHS green
2- Q1.Q2-- AUIPS2041LTR-- C113610-- OT-223 Power Distribution Switches ROHS
3- F4, F5, F6-- 12H1500D-- C182446-- 100A SMD Fuse 5A 6.3 1206 Fuses ROHS
4- U601-- AD8628ARTZ-REEL7-- C29309-- 850μA 2.5MHz 2.7V ~ 5V, ±1.3

[2022-03-08 05:27] andreika-git commented on #32
I've created the new BOM version with the following replacements. Please use the updated BOM file!

1 - SZYY0805G (C434432)
2 - no replacements in stock; Andrey presumably has some of ZXMS6005SGTA in the stash
3 - S1206-F-5.0A (C553924)
4 - GS8551-TR (C157715) *MAYBE* - it's not the best replacement, it's better to ask @mck1117 if it fits...
5 - CL10A106MA8NRNC (C2922482)
6 - 74LVC4245APW,118 (C60

[2022-03-08 08:51] mck1117 commented on #32
number 4 looks OK to me, very very slightly worse, but not really in ways we care about!

[2022-03-19 19:28] BeerMoneyMotorsports opened #33 "U4 part number change"
U4 baro sensor has another part number available from JLC.
Please add U5 C94049 to BOM.

[2022-03-28 15:27] BeerMoneyMotorsports opened #34 "Q1, Q2 footprint revision"
Q1 and Q2 should have a footprint that allows both the AUIPS2041LTR and ZXMS6005SGTA chips.  Currently it does not, as the Tab on the chip is being used.  The AUIPS2041LTR and ZXMS6005SGTA do not have compatible footprints if the Tab is being used.  AUIPS2041LTR connects pin 2 to Tab and ZXMS6005SGTA connects pin 3 to Tab.

<img width="368" alt="image" src="https://user-images.githubusercontent.co

[2022-03-28 15:28] rusefillc commented on #34
See also https://github.com/andreika-git/hellen-one/issues/147

[2022-03-28 16:19] andreika-git commented on #34
done (for the next rev.F)
![image](https://user-images.githubusercontent.com/15104768/160442543-9de4f3b6-964a-4514-8487-73b8ab05ee46.png)

[2022-03-28 17:06] BeerMoneyMotorsports commented on #34
Either rev F needs to be released now or this fix needs to be applied to Rev E.  AUIPS2041 is unavailable in my searches.  The only availability is ZXMS6005SGTA.  I have just enough AUIPS2041 for the 5 NB2e i have in hand but will not be able to produce any after that.

[2022-04-11 15:06] #21 closed

[2022-05-12 17:12] BeerMoneyMotorsports commented on #34
@andreika-git this is one that needs urgent attention.

[2022-05-12 17:37] BeerMoneyMotorsports opened #35 "AFR input changed"
from Rev D to E, the input for AFR has changed which causes a conflict in the yaml.

Rev D-
    Pin- 4w
    Input- IN_O2S
    STM- PA0

Rev E-
    Pin- 4w
    Input- IN_SENS1
    STM- PF3

[2022-05-12 17:39] rusefillc commented on #35
https://github.com/andreika-git/hellen-one/wiki/module-input says that IN_SENS1 is NOT an analog input

[2022-05-12 17:58] BeerMoneyMotorsports commented on #35
3L is not present on the OEM harness.  We use the factory front o2 input wire, 4W, for wideband.  This is a common industry practice for the pnp setups.

All the hellens using external sensor are wired to the factory o2 input wire.

[2022-05-12 18:09] andreika-git commented on #35
I need Andrey's @rusefillc help for this one. Since the first rev.A, he told me that 3L should be used for AFR, and not OEM, because adding a new pin is better that cutting the existing OEM harness.

I can return 3L back to life as it was in rev.D but in that case we would have a new problem with IN_TPS2 (needed by ETB). We would need to find a free ADC channel for TPS2.

[2022-05-17 19:17] BeerMoneyMotorsports commented on #35
![image](https://user-images.githubusercontent.com/82395131/168892674-90e866d2-0e88-4bcc-a5d5-c9d8c22f872c.png)

[2022-05-18 06:26] andreika-git commented on #35
What's the default configuration of these jumpers? Which one is DNP?

[2022-05-18 06:55] andreika-git commented on #35
![image](https://user-images.githubusercontent.com/15104768/168976472-6db5f887-6bed-4239-8b9e-aef14dfb0761.png)

[2022-05-18 12:39] BeerMoneyMotorsports commented on #35
DNP r39
Place r38

[2022-05-19 16:29] BeerMoneyMotorsports commented on #35
@andreika-git do you need anything more from my end before creating the new files?

[2022-05-23 15:56] andreika-git commented on #33
done in rev.F

[2022-06-22 16:08] BeerMoneyMotorsports opened #36 "SD card not seen - H72d"
See customer report here- https://rusefi.com/forum/viewtopic.php?f=16&t=2352

I have confirmed the same issue here on the bench.  SD card not recognized by Hellen NB2.  Tested Proteus with same SD card and no issue.

[BeerMoneyMotorsports](https://app.slack.com/team/U01JUH5H6EN)
  [12:58 PM](https://rusefi.slack.com/archives/C4P8TSCJF/p1655830702010509)
Has anything changed with SD logging?  I am

[2022-06-22 16:17] rusefillc commented on #36
no mention of affected version

did you attempt to use previous releases?

reminder that for me this is clearly related to the situation with canned tune

[2022-06-22 16:32] rusefillc commented on #36
works on hellen 96

[code]

[2022-06-22 17:36] BeerMoneyMotorsports commented on #36
Issue is exhibiting on Hellen NB2 and NA6.  I have tried multiple versions of firmware from the past 6 months.  No success.  Screenshot below is from 20220319@37157 NA6.  tested with known good SD on bench.  Grabbing NB1 to test now.

<img width="382" alt="image" src="https://user-images.githubusercontent.com/82395131/175101178-1e263ea0-cf6a-48c7-901e-022abd9e64ed.png">

[2022-06-22 17:56] BeerMoneyMotorsports commented on #36
Tested NB1, it works as desired.  It appears to be an issue only with the Hellens that have 176 chip?

![image](https://user-images.githubusercontent.com/82395131/175104577-6e7559e9-7e82-4028-a669-688783a74658.png)

[2022-06-22 18:14] rusefillc commented on #36
@BeerMoneyMotorsports please kindly do not truncate parts of the output specifically "MMC CS xxx"

[2022-06-22 18:18] rusefillc commented on #36
@BeerMoneyMotorsports please clarify if you move same SINGLE working SD card between boards or if you test with multiple cards

[2022-06-22 18:36] BeerMoneyMotorsports commented on #36
Yes, i use the same kingston SD card.  i also have a sandisk 64mb that i tested with same results
Validated in Proteus and transfer between H72, H64 and NB1
![image](https://user-images.githubusercontent.com/82395131/175111371-939545e8-d0ce-4412-b989-f1218184036f.png)

[2022-06-22 18:46] rusefillc commented on #36
Well, that would be really weird. only thing I can suggest we go on same https://github.com/rusefi/rusefi/releases/download/20220602_release/rusefi_bundle_hellen72.zip

we equally hit 'reset to defaults'

and we equally feed H72 with only USB?

[2022-06-22 19:04] BeerMoneyMotorsports commented on #36
i performed those tasks.  status remains the same.  I have tried it on rev D and F

[2022-06-29 02:12] BeerMoneyMotorsports commented on #36
It was discovered that a change was made from revD to revE on the SD card.  It now uses SPI2 rather than 3. We will need the ability to select which SPI is needed.

<img width="688" alt="image" src="https://user-images.githubusercontent.com/82395131/176336171-c025a20d-7e12-4e4b-a74e-aae584ad9297.png">

[2022-06-29 04:57] rusefillc commented on #36
@BeerMoneyMotorsports let's clarify if we have one or two separate issues: H72d not working and H72E not working?

I was under the impression that you had issues even on H72d which was same HW as mine, using same FW as mine.

Q1: does your H72d SD card work?

[2022-06-29 06:45] rusefillc commented on #36
1. hellenBoardId magic version number goes into TS log files now
2. hellenBoardId magic version number goes into "hello" console command output now

it look like for H72 we can distinguish between three sorts of boards:
1. before E
2. E
3. F

[2022-06-30 00:33] BeerMoneyMotorsports opened #37 "Hellen Board ID"
NB2c
<img width="317" alt="image" src="https://user-images.githubusercontent.com/82395131/176568089-e15233b8-cc78-48cf-a034-9ead9cdd6d3c.png">

NB2d
<img width="347" alt="image" src="https://user-images.githubusercontent.com/82395131/176566739-1e50c001-98b8-40e0-8906-4f567f91fcb1.png">

NB2f
<img width="335" alt="image" src="https://user-images.githubusercontent.com/82395131/176567632-9a37fac2-184

[2022-06-30 00:51] rusefillc commented on #37
thank you! looks good.

do you have 'E'?
@andreika-git FYI we have '1' offset for 'unknow' and '0' means 'hellen id not invoked'

[2022-06-30 01:47] BeerMoneyMotorsports commented on #37
I do not have E on hand.

[2022-06-30 15:53] BeerMoneyMotorsports opened #38 "Injector Drivers NCV8440ASTT3G"
I have validated that the below drivers work.  I have them on a Hellen NB2 revF in my personal car.  It runs very well.  I am unsure how these technically compare to the current drivers.

Mouser #:	[863-NCV8440ASTT3G](https://www.mouser.com/ProductDetail/863-NCV8440ASTT3G)
Mfr. #:	NCV8440ASTT3G
Desc.:	MOSFET MOSFET 2.6A, 52V N-CH, CLAM

[2022-07-02 09:15] rusefillc opened #39 "176 availability"
C33993

not great at all but kind of manageable just to survive the next two months?

![image](https://user-images.githubusercontent.com/48498823/176994380-068a0602-3b4b-4d8d-961a-6f4afcae37e1.png)

more history at https://github.com/andreika-git/hellen-one/issues/19

[2022-07-02 17:50] BeerMoneyMotorsports commented on #39
Manageable but not wonderful.

[2022-07-02 19:27] BeerMoneyMotorsports commented on #36
Hellen NB2 now recognizes board correctly and assigns correct SPI

NB2 d
![image](https://user-images.githubusercontent.com/82395131/177013923-73631485-a553-4c03-8f76-5a45fc167896.png)
![image](https://user-images.githubusercontent.com/82395131/177013929-71a6dabf-2031-443d-9839-78bb58055e2b.png)

NB2 f
![image](https://user-images.githubusercontent.com/82395131/177013915-7f7d639d-bfe2-4ec6-8106-8b

[2022-07-24 15:53] rusefillc opened #40 "have JLC solder main connector"
is it 8-5353015-1?

![image](https://user-images.githubusercontent.com/48498823/180655551-a1312807-e160-4d5a-b3c1-843f9a6db749.png)

[2022-07-24 15:55] rusefillc commented on #38
I've just filled in part request to have JLC stock those

![image](https://user-images.githubusercontent.com/48498823/180655637-028d2011-1652-46f1-8301-e6b4aeca4188.png)

[2022-07-25 08:30] rusefillc commented on #38
they have added $1 to the price

![image](https://user-images.githubusercontent.com/48498823/180733381-d008b13d-a011-433a-b186-a24825c2528e.png)

[2022-07-31 08:58] rusefillc commented on #37
Looks great!

[2022-07-31 08:58] #37 closed

[2022-07-31 08:58] rusefillc opened #41 "JLC stock VND7NV04"
C155605 VND7NV04 could be acquired at JLC and they would assemble as WBO heater mosfet

[2022-07-31 08:59] rusefillc commented on #41
my status
![image](https://user-images.githubusercontent.com/48498823/182018809-9657aa81-9849-4ca4-a172-c4e7b80efae0.png)

[2022-08-22 19:03] BeerMoneyMotorsports opened #42 "Trigger sync issue NB2"
Car- NB2
ECU- Hellen 72 rev D
New Firmware- 8/12/22 release
Old Firmware- 4/22/2022

Customer reports that he is hitting a "rev limit" at 6500 rpm and TS shows Trigger Sync issue.  This occurred after updating firmware and no tune changes.

Here is the log: https://rusefi.com/online/view.php?log=989
Tune: https://rusefi.com/online/view.php?msq=1174

[2022-08-22 19:33] rusefillc commented on #42
Can he go back current or prev release?

[2022-08-22 20:09] BeerMoneyMotorsports commented on #42
He can go back to the 4/22 release if needed for testing.

[2022-08-23 03:56] rusefillc commented on #42
yes, please test again with https://github.com/rusefi/rusefi/releases/tag/20220812_release and https://github.com/rusefi/rusefi/releases/tag/20220702_release

[2022-08-23 17:46] BeerMoneyMotorsports commented on #42
Sebastian tried firmware 20220702 last night with same result.  Tonight he will try older.

[2022-08-23 19:12] BeerMoneyMotorsports commented on #42
Looks like this was a case of coincidence.  He double checked some things to make sure and found a failing cam sensor.  replaced and all is well with 8,12 firmware.

[2022-08-23 19:12] #42 closed, assigned to mck1117

[2022-10-03 01:43] BeerMoneyMotorsports commented on #24
this needs action from myself.

[2022-10-03 01:50] BeerMoneyMotorsports commented on #30
can we make this change @andreika-git . Prefer to not make a new rev for the small change if possible.

[2022-10-03 01:57] #33 closed

[2022-10-03 01:59] #38 closed

[2022-10-03 02:04] BeerMoneyMotorsports commented on #34
fixed with F

[2022-10-03 02:04] #34 closed

[2022-10-03 02:05] #32 closed

[2022-10-03 02:10] BeerMoneyMotorsports commented on #36
fixed

[2022-10-03 02:10] #36 closed

[2022-10-03 02:10] BeerMoneyMotorsports commented on #35
fixed with F

[2022-10-03 02:10] #35 closed